@model iBDZ.Data.BindingModels.TrainDetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.Id) </dt>
        <dd> @Html.DisplayFor(model => model.Id) </dd>

        <dt> @Html.DisplayNameFor(model => model.Route) </dt>
        <dd> @Html.DisplayFor(model => model.Route) </dd>
        
        <dt> @Html.DisplayNameFor(model => model.CurrOrPrevStation) </dt>
        <dd> @Html.DisplayFor(model => model.CurrOrPrevStation) </dd>
        
        <dt> @Html.DisplayNameFor(model => model.NextStation) </dt>
        <dd> @Html.DisplayFor(model => model.NextStation) </dd>
        
        <dt> @Html.DisplayNameFor(model => model.State) </dt>
        <dd> @Html.DisplayFor(model => model.State) </dd>
        
        <dt> @Html.DisplayNameFor(model => model.BookedPercentage) </dt>
        <dd> @Html.DisplayFor(model => model.BookedPercentage) </dd>
    </dl>
</div>
<div>
    <a asp-action="Timetable">Back to List</a>
</div>
